<!-- FOOTER -->
<div class="footer">
  <div class="page-header">
    <h3 id="footer-title">Contact Us</h3>
    <ul>
      <li><strong>WEIYING LEE:</strong> <i>weiyinglee@cpp.edu</i></li>
      <li><strong>MAX KIM:</strong> <i>youngkim@cpp.edu</i></li>
      <li><strong>SHUN LU:</strong> <i>shunlu@cpp.edu</i></li>
    </ul>
  </div>
  <div id="copyright-sec">
    <h6>© 2016 STUDENT TOOL PROJECT By WeiYing Lee, Max Kim, Shun Lu. All Rights Reserved</h6>
  </div>
</div>