<!-- NAVBAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main">Welcome!</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Class Schedule</a></li>
        <li><a href="#">Personal Note</a></li>
        <li><a href="#">GPA Calculator</a></li>
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<div class="body">
  <h1>CONTENT</h1>
</div>

<!-- FOOTER -->
<div class="footer">
  <div class="page-header">
    <h3 id="footer-title">Contact Us</h3>
    <ul>
      <li><strong>WEIYING LEE:</strong> <i>weiyinglee@cpp.edu</i></li>
      <li><strong>MAX KIM:</strong> <i>youngkim@cpp.edu</i></li>
      <li><strong>SHUN LU:</strong> <i>shunlu@cpp.edu</i></li>
    </ul>
  </div>
  <div id="copyright-sec">
    <h6>© 2016 STUDENT TOOL PROJECT By WeiYing Lee, Max Kim, Shun Lu. All Rights Reserved</h6>
  </div>
</div>