<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Student Tool site</h1>
    <h4><strong>To use your own tool site, please login first!</strong></h4>
    <p class="description">If you are not a user yet, please register now!</p>
    <a href="/register" role="button" class="btn btn-info">Register Now</a>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">User Login</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="account">Account</label>
          <input type="email" class="form-control" id="account" placeholder="User Name/Account">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  <div>
<div>