// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$footerColor: #FFC233;
$navbarColor: #33C6FF;
$linkColor: white;
$logoColor: white;
$hoverColor: yellow;
$bodyBG: #EFF9D4;
$bodyNoteBG: #F9D4E3;
$bodyClassBG: #EFF9D4;
$bodyGPABG: #e6f3ff;

.schedule-header {
	color: green;
	background-color: #ccffcc;
	font-weight: bold;
	font-family: fantasy;
	font-style: italic;
	text-align: center;
}

.note-header {
	@extend .schedule-header;
	color: darkred;
	background-color: #ffe6b3;
}

.calculate-header {
	@extend .schedule-header;
	color: darkblue;
	background-color: #ccffff;
}

.body {
	height: 100%;
	margin: 3%;
	margin-bottom: 250px;

	.form-group {
		padding: 0;
	}

	.user-id-field {
		display:none;
	}

	.class-delete-button {
		background: rgba(0,0,0,0);
		border: none;
		color: red;
	}

	.item-name {
		font-size: 24px;
		font-family: cursive;
	}

	.page-title {
		color: #F682B1;
	}
}

.body-note {
	@extend .body;

	background: $bodyNoteBG;
}

.body-class {
	@extend .body;
	background: $bodyClassBG;

}

.body-gpa {
	@extend .body;
	background: $bodyGPABG;
	#gpa-result {
		font-size: 48px;
		font-weight: bold;
		text-align: center;
	}

}

#navbar-collapse {
	a {
		color: $linkColor;
		
	}

	a:hover {
		color: $hoverColor;
	}

}

#navbar-logo {
	
	a {
		color: $logoColor;
		font-size: 36px;
		font-family: cursive;
		font-weight: bold;

	}

	a:hover {
		color: $hoverColor;
	}
}

#nav-head {
	background-color: $navbarColor;
}

.footer {
	position: relative;
	height: 250px;
	width: 100%;
	bottom: 0;
	padding: 1%;
	background: $footerColor;
	color: white;
	text-align: center;
	li {
		list-style: none;
		display: inline;
		padding: 2%;
	}

	#footer-title {
		margin-bottom: 2%;
	}

	#copyright-sec {
		margin-top: 3%;
	}
}

